In [1]:
# Google drive Mount 하기

In [2]:
from google.colab import drive
import pandas as pd
drive.mount('/content/test')

Mounted at /content/test

In [3]:
# Mount 된 파일들은 Local과 동일하게 사용 가능

In [4]:
sales_df = pd.read_csv('test/MyDrive/data/data_handling/sales_data.csv')
social1_df = pd.read_csv('test/MyDrive/data/data_handling/social1.csv')
social2_df = pd.read_csv('test/MyDrive/data/data_handling/social2.csv')
social3_df = pd.read_csv('test/MyDrive/data/data_handling/social3.csv')

In [5]:
# 컬럼명 변경하기

In [6]:
sales_df.columns = ['date', 'sum']
sales_df.head(10)

         date     sum
0  2017-01-01  4602.0
1  2017-01-02  6680.0
2  2017-01-03  4125.0
3  2017-01-04  3743.0
4  2017-01-05  3536.0
5  2017-01-06  3101.0
6  2017-01-07  5128.0
7  2017-01-08  6623.0
8  2017-01-09  2879.0
9  2017-01-10  2929.0

In [7]:
social1_df.columns = ['date', 'ratio1']
social1_df.head(10)

         date     ratio1
0  2017-01-02   4.917119
1  2017-01-09  15.147494
2  2017-01-16   3.574863
3  2017-01-23   0.000000
4  2017-01-30   3.555632
5  2017-02-06   4.559440
6  2017-02-13   5.376716
7  2017-02-20   7.995846
8  2017-02-27   8.047767
9  2017-03-06  13.411023

In [8]:
social2_df.columns = ['date', 'key1', 'key2', 'key3', 'key4']
social2_df

           date  key1  key2  key3  key4
0    2018-01-08    18    22     2     1
1    2018-01-15    14    20     1     1
2    2018-01-22    16    16     2     1
3    2018-01-29    18    19     3     1
4    2018-02-05    15    20     2     1
..          ...   ...   ...   ...   ...
99   2019-12-02    24    20     2     1
100  2019-12-09    27    26     1     1
101  2019-12-16    34    20     2     1
102  2019-12-23    40    22     2     1
103  2019-12-30    44    29     2     2

[104 rows x 5 columns]

In [9]:
social3_df.columns = ['date', 'ratio2']
social3_df

           date    ratio2
0    2015-12-28  14.20355
1    2016-01-04  16.75552
2    2016-01-11  17.78589
3    2016-01-18  18.10339
4    2016-01-25  19.28353
..          ...       ...
209  2019-12-30  17.81884
210  2020-01-06  21.73066
211  2020-01-13  22.23686
212  2020-01-20  19.26256
213  2020-01-27  25.33696

[214 rows x 2 columns]

In [10]:
# Inner Merge(Join)을 통해 데이터 합치기

In [11]:
result_df = sales_df.merge(social1_df, on='date', how='inner')
result_df

           date     sum     ratio1
0    2017-01-02  6680.0   4.917119
1    2017-01-09  2879.0  15.147494
2    2017-01-16  2726.0   3.574863
3    2017-01-23  2641.0   0.000000
4    2017-01-30  3171.0   3.555632
..          ...     ...        ...
150  2019-12-02  8059.0  35.471713
151  2019-12-09  6325.0  39.154263
152  2019-12-16  4407.0  36.246683
153  2019-12-23  4045.0  34.252529
154  2019-12-30  2754.0  32.758355

[155 rows x 3 columns]

In [12]:
result_df = result_df.merge(social2_df, on='date', how='inner')
result_df

           date     sum     ratio1  key1  key2  key3  key4
0    2018-01-08  3611.0  11.143802    18    22     2     1
1    2018-01-15  3081.0  13.436022    14    20     1     1
2    2018-01-22  1920.0  14.085997    16    16     2     1
3    2018-01-29  2716.0  16.685897    18    19     3     1
4    2018-02-05  2162.0  15.316719    15    20     2     1
..          ...     ...        ...   ...   ...   ...   ...
97   2019-12-02  8059.0  35.471713    24    20     2     1
98   2019-12-09  6325.0  39.154263    27    26     1     1
99   2019-12-16  4407.0  36.246683    34    20     2     1
100  2019-12-23  4045.0  34.252529    40    22     2     1
101  2019-12-30  2754.0  32.758355    44    29     2     2

[102 rows x 7 columns]

In [13]:
result_df = result_df.merge(social3_df, on='date', how='inner')
result_df

           date     sum     ratio1  key1  key2  key3  key4    ratio2
0    2018-01-08  3611.0  11.143802    18    22     2     1  17.18684
1    2018-01-15  3081.0  13.436022    14    20     1     1  19.32546
2    2018-01-22  1920.0  14.085997    16    16     2     1  19.24459
3    2018-01-29  2716.0  16.685897    18    19     3     1  20.31689
4    2018-02-05  2162.0  15.316719    15    20     2     1  19.92152
..          ...     ...        ...   ...   ...   ...   ...       ...
97   2019-12-02  8059.0  35.471713    24    20     2     1  18.29209
98   2019-12-09  6325.0  39.154263    27    26     1     1  18.36997
99   2019-12-16  4407.0  36.246683    34    20     2     1  19.24159
100  2019-12-23  4045.0  34.252529    40    22     2     1  16.76451
101  2019-12-30  2754.0  32.758355    44    29     2     2  17.81884

[102 rows x 8 columns]

In [ ]:
# 1줄로 위와 같은 처리할 수 있으나, 가독성을 위해서 추천하지 않는 방법

In [15]:
test_df = sales_df.merge(social1_df, on='date', how='inner').merge(social2_df, on='date', how='inner').merge(social3_df, on='date', how='inner')
test_df

           date     sum     ratio1  key1  key2  key3  key4    ratio2
0    2018-01-08  3611.0  11.143802    18    22     2     1  17.18684
1    2018-01-15  3081.0  13.436022    14    20     1     1  19.32546
2    2018-01-22  1920.0  14.085997    16    16     2     1  19.24459
3    2018-01-29  2716.0  16.685897    18    19     3     1  20.31689
4    2018-02-05  2162.0  15.316719    15    20     2     1  19.92152
..          ...     ...        ...   ...   ...   ...   ...       ...
97   2019-12-02  8059.0  35.471713    24    20     2     1  18.29209
98   2019-12-09  6325.0  39.154263    27    26     1     1  18.36997
99   2019-12-16  4407.0  36.246683    34    20     2     1  19.24159
100  2019-12-23  4045.0  34.252529    40    22     2     1  16.76451
101  2019-12-30  2754.0  32.758355    44    29     2     2  17.81884

[102 rows x 8 columns]

In [ ]:
# iloc을 이용하여 2번째 컬럼부터 마지막 컬럼까지의 데이터만 불러오기

In [16]:
test_df.iloc[:,1:]

        sum     ratio1  key1  key2  key3  key4    ratio2
0    3611.0  11.143802    18    22     2     1  17.18684
1    3081.0  13.436022    14    20     1     1  19.32546
2    1920.0  14.085997    16    16     2     1  19.24459
3    2716.0  16.685897    18    19     3     1  20.31689
4    2162.0  15.316719    15    20     2     1  19.92152
..      ...        ...   ...   ...   ...   ...       ...
97   8059.0  35.471713    24    20     2     1  18.29209
98   6325.0  39.154263    27    26     1     1  18.36997
99   4407.0  36.246683    34    20     2     1  19.24159
100  4045.0  34.252529    40    22     2     1  16.76451
101  2754.0  32.758355    44    29     2     2  17.81884

[102 rows x 7 columns]

In [ ]:
# iloc을 이용하여 2번째 컬럼부터 마지막 이전 컬럼까지의 데이터만 불러오기

In [17]:
test_df.iloc[:,1:-1]

        sum     ratio1  key1  key2  key3  key4
0    3611.0  11.143802    18    22     2     1
1    3081.0  13.436022    14    20     1     1
2    1920.0  14.085997    16    16     2     1
3    2716.0  16.685897    18    19     3     1
4    2162.0  15.316719    15    20     2     1
..      ...        ...   ...   ...   ...   ...
97   8059.0  35.471713    24    20     2     1
98   6325.0  39.154263    27    26     1     1
99   4407.0  36.246683    34    20     2     1
100  4045.0  34.252529    40    22     2     1
101  2754.0  32.758355    44    29     2     2

[102 rows x 6 columns]

In [ ]:
# iloc을 이용하여 3번째, 마지막 이전 컬럼 데이터만 불러오기

In [20]:
y = test_df.iloc[:,[-1]]

In [21]:
y

       ratio2
0    17.18684
1    19.32546
2    19.24459
3    20.31689
4    19.92152
..        ...
97   18.29209
98   18.36997
99   19.24159
100  16.76451
101  17.81884

[102 rows x 1 columns]

In [ ]:
# iloc을 이용하여 2번째부터 10번째 행까지의 데이터만 불러오기

In [22]:
test_df.iloc[0:10,:]

         date     sum     ratio1  key1  key2  key3  key4    ratio2
0  2018-01-08  3611.0  11.143802    18    22     2     1  17.18684
1  2018-01-15  3081.0  13.436022    14    20     1     1  19.32546
2  2018-01-22  1920.0  14.085997    16    16     2     1  19.24459
3  2018-01-29  2716.0  16.685897    18    19     3     1  20.31689
4  2018-02-05  2162.0  15.316719    15    20     2     1  19.92152
5  2018-02-12  1532.0   8.365063    15    22     3     1  19.70886
6  2018-02-19   666.0  17.441637    22    22     3     1  26.36134
7  2018-02-26   217.0  21.114573    32    20     4     1  32.32193
8  2018-03-05    53.0  21.860698    31    23     5     1  34.81698
9  2018-03-12    77.0  23.945233    34    27     7     1  52.61187

In [25]:
test_df.iloc[0:int(len(test_df) * 0.6),:]

          date     sum     ratio1  key1  key2  key3  key4    ratio2
0   2018-01-08  3611.0  11.143802    18    22     2     1  17.18684
1   2018-01-15  3081.0  13.436022    14    20     1     1  19.32546
2   2018-01-22  1920.0  14.085997    16    16     2     1  19.24459
3   2018-01-29  2716.0  16.685897    18    19     3     1  20.31689
4   2018-02-05  2162.0  15.316719    15    20     2     1  19.92152
..         ...     ...        ...   ...   ...   ...   ...       ...
56  2019-02-18   915.0  47.653936    28    21     2     1  27.88594
57  2019-02-25   439.0  49.369255    35    20     3     1  34.94878
58  2019-03-04   150.0  51.071113    30    17     5     1  39.39974
59  2019-03-11    47.0  57.349717    32    22     3     2  38.58803
60  2019-03-18    21.0  65.699396    42    20     5     1  42.91619

[61 rows x 8 columns]

In [26]:
test_df.iloc[int(len(test_df) * 0.6):,:]

           date     sum      ratio1  key1  key2  key3  key4     ratio2
61   2019-03-25     8.0   68.485827    63    20     6     1   47.01072
62   2019-04-01    -7.0   74.202915    92    21     6     1   46.65129
63   2019-04-08    10.0   76.352833    67    18     8     2   52.25543
64   2019-04-15     4.0   86.919734    69    18     9     2   69.36739
65   2019-04-22    13.0   93.377178    72    16    14     1   88.39633
66   2019-04-29   567.0   96.492443    70    16    12     2   80.47684
67   2019-05-06   340.0   96.867428    63    22    18     2   90.06769
68   2019-05-13   513.0   98.155840    69    21    20     2  100.00000
69   2019-05-20   316.0  100.000000    73    17    21     2   83.19355
70   2019-05-27   372.0   93.561786    85    23    17     1   71.94033
71   2019-06-03   249.0   94.540595    86    20    17     1   70.36482
72   2019-06-10   264.0   96.490520    79    20    12     2   63.72431
73   2019-06-17   126.0   91.756086    88    24    15     2   61.53477
74   2019-06-24   194.0   94.096381    83    22    13     1   60.78296
75   2019-07-01   340.0   90.894581    84    21    15     1   61.78937
76   2019-07-08   254.0   88.308142    67    21    13     1   58.18307
77   2019-07-15   150.0   83.964078    84    21    14     2   56.70041
78   2019-07-22    42.0   81.348794    80    25    13     2   58.64434
79   2019-07-29    50.0   79.660398    75    25    10     1   52.26142
80   2019-08-05    38.0   73.583708    65    29    10     1   49.25118
81   2019-08-12   144.0   79.716165    74    20     6     1   42.74246
82   2019-08-19   161.0   77.256644    84    26     8     2   39.81908
83   2019-08-26   156.0   80.198839    58    24     7     2   41.40358
84   2019-09-02   306.0   72.987577    57    24     3     1   40.27137
85   2019-09-09   440.0   57.430483    60    23     4     1   31.50721
86   2019-09-16  2791.0   62.712973    66    24     4     1   39.65734
87   2019-09-23  1003.0   54.307527    71    22     4     3   35.40705
88   2019-09-30   879.0   52.238375    85    19     4     1   33.56197
89   2019-10-07   676.0   49.128880   100    22     3     2   30.57868
90   2019-10-14  1325.0   44.548287    67    26     2     2   27.63433
91   2019-10-21  1626.0   45.769393    59    22     4     1   25.48972
92   2019-10-28  2808.0   41.075343    70    24     2     1   22.56334
93   2019-11-04  3106.0   39.521557    36    22     1     1   22.27580
94   2019-11-11  5717.0   37.192800    34    24     1     2   19.92451
95   2019-11-18  9110.0   33.494866    31    25     1     1   18.48679
96   2019-11-25  7988.0   32.914119    27    22     1     1   18.10339
97   2019-12-02  8059.0   35.471713    24    20     2     1   18.29209
98   2019-12-09  6325.0   39.154263    27    26     1     1   18.36997
99   2019-12-16  4407.0   36.246683    34    20     2     1   19.24159
100  2019-12-23  4045.0   34.252529    40    22     2     1   16.76451
101  2019-12-30  2754.0   32.758355    44    29     2     2   17.81884

In [27]:
# iloc을 이용하여 행, 열 선택하여 데이터 불러오기

In [28]:
test_df.iloc[11:20,2:5]

       ratio1  key1  key2
11  36.562055    54    30
12  42.752202    62    26
13  44.746356    57    24
14  53.796008    52    29
15  56.051690    63    26
16  65.299412    46    25
17  65.326334    50    19
18  73.972155    43    20
19  75.529787    48    21

In [ ]:
# loc을 이용하여 특정 컬럼의 조건으로 데이터 필터링 하기

In [35]:
if (1==1) and (2==2):
  print("test")

test

In [37]:
test_df.loc[(test_df['ratio1'] > 40.0) & (test_df['ratio2'] > 30.0)]

          date     sum      ratio1  key1  key2  key3  key4     ratio2
12  2018-04-02   -55.0   42.752202    62    26     7     1   75.37291
13  2018-04-09   -11.0   44.746356    57    24     8     2   64.68579
14  2018-04-16    33.0   53.796008    52    29     9     1   78.09261
15  2018-04-23   -12.0   56.051690    63    26    12     1   72.39261
16  2018-04-30    12.0   65.299412    46    25    12     1   83.96932
17  2018-05-07    -4.0   65.326334    50    19    13     1   76.50212
18  2018-05-14     2.0   73.972155    43    20    14     0   83.05277
19  2018-05-21   320.0   75.529787    48    21    10     1   71.53597
20  2018-05-28    96.0   78.827737    46    26    12     1   81.98047
21  2018-06-04   348.0   75.816315    54    22    12     1   76.60995
22  2018-06-11   387.0   75.399023    51    26     9     1   64.98532
23  2018-06-18    94.0   81.698781    47    26    13     1   61.73845
24  2018-06-25    -9.0   75.187493    46    24    10     1   60.75001
25  2018-07-02    -2.0   71.745317    57    20     7     1   62.65200
26  2018-07-23   222.0   83.669859    56    20     8     1   58.93488
27  2018-07-30   229.0   68.481981    54    26     9     1   50.68591
28  2018-08-06   227.0   65.730164    47    17    11     2   49.61061
29  2018-08-13   615.0   80.787277    53    23     6     1   41.33469
30  2018-08-20  2112.0   76.681666    53    18     5     1   39.52854
31  2018-08-27   784.0   68.114688    48    19     5     2   39.63337
32  2018-09-03   740.0   69.918465    49    15     5     2   41.54136
33  2018-09-10  1037.0   63.620630    49    20     3     2   38.59102
34  2018-09-17  1051.0   49.836545    47    18     2     2   30.77637
36  2018-10-01  1040.0   47.828930    83    21     2     2   31.48625
57  2019-02-25   439.0   49.369255    35    20     3     1   34.94878
58  2019-03-04   150.0   51.071113    30    17     5     1   39.39974
59  2019-03-11    47.0   57.349717    32    22     3     2   38.58803
60  2019-03-18    21.0   65.699396    42    20     5     1   42.91619
61  2019-03-25     8.0   68.485827    63    20     6     1   47.01072
62  2019-04-01    -7.0   74.202915    92    21     6     1   46.65129
63  2019-04-08    10.0   76.352833    67    18     8     2   52.25543
64  2019-04-15     4.0   86.919734    69    18     9     2   69.36739
65  2019-04-22    13.0   93.377178    72    16    14     1   88.39633
66  2019-04-29   567.0   96.492443    70    16    12     2   80.47684
67  2019-05-06   340.0   96.867428    63    22    18     2   90.06769
68  2019-05-13   513.0   98.155840    69    21    20     2  100.00000
69  2019-05-20   316.0  100.000000    73    17    21     2   83.19355
70  2019-05-27   372.0   93.561786    85    23    17     1   71.94033
71  2019-06-03   249.0   94.540595    86    20    17     1   70.36482
72  2019-06-10   264.0   96.490520    79    20    12     2   63.72431
73  2019-06-17   126.0   91.756086    88    24    15     2   61.53477
74  2019-06-24   194.0   94.096381    83    22    13     1   60.78296
75  2019-07-01   340.0   90.894581    84    21    15     1   61.78937
76  2019-07-08   254.0   88.308142    67    21    13     1   58.18307
77  2019-07-15   150.0   83.964078    84    21    14     2   56.70041
78  2019-07-22    42.0   81.348794    80    25    13     2   58.64434
79  2019-07-29    50.0   79.660398    75    25    10     1   52.26142
80  2019-08-05    38.0   73.583708    65    29    10     1   49.25118
81  2019-08-12   144.0   79.716165    74    20     6     1   42.74246
82  2019-08-19   161.0   77.256644    84    26     8     2   39.81908
83  2019-08-26   156.0   80.198839    58    24     7     2   41.40358
84  2019-09-02   306.0   72.987577    57    24     3     1   40.27137
85  2019-09-09   440.0   57.430483    60    23     4     1   31.50721
86  2019-09-16  2791.0   62.712973    66    24     4     1   39.65734
87  2019-09-23  1003.0   54.307527    71    22     4     3   35.40705
88  2019-09-30   879.0   52.238375    85    19     4     1   33.56197
89  2019-10-07   676.0   49.128880   100    22     3     2   30.57868